* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .width-height{
    max-width: 1280px;
    margin: auto;
} */
/* .logo {
  width: 134px;
  height: 44px;
} */
/* .logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
.logo h3 {
  padding-left: 8px;
}
.logo h3:hover {
  color: #7c3aed;
}
.logo img {
  width: 134px;
  height: 44px;
}
/* .logo img:hover{
   color: #7C3AED;
} */
/* Left SIde End */

/* Middile Side and right side button */

.header {
  background-color: #f9f9f9;
  padding: 20px 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* max-width: 1280px; */
  align-items: center;
  padding: 23px 115px;
  background-color: #fafafa;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
}
.nav-links a:hover {
  color: #7c3aed;
}
.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 41px;
  border-radius: 12px;
  cursor: pointer;
}
.common-btn:hover {
  background-color: #7c3aed;
}
/* navbar section end */

/* header se;ction start */

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-content h1 {
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
}
.header-content p {
  color: #f5f4f4;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 16px;
}
.header-content button {
  width: 12%;
  height: 7%;
  font-size: 18px;
  margin-top: 278px;
}
/* Header Banner Section End */

/* Developer Section Start */
.developer-container h1{
  text-align: center;
  margin-top: 80px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 56px;
}
.developer-container h1:hover{
  color: #7c3aed;
}
.developers{
  width: 90%;
  margin: 60px auto;
}
.developers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.card{
  border: 1px solid#ddd;
  overflow: hidden;
  border-radius: 10px;
}
.card img{
  width: 100%;
  object-fit: cover;
  /* height: 324px; */
  display: block;
}
.card-content{
  padding: 24px;
}
.card-content small{
  color:#2563EB;
  font-size: 12px;
  font-weight: 600;
  
}
.card-content h3{
  font-size: 20px;
  font-weight: bold;
  color: #0D1B2A;
  margin-bottom: 8px;
  margin-top: 8px;
}
.card-content p{
  font-size: 14px;
  font-weight: normal;
}
/* Developers Section End */