*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .width-height{
    max-width: 1280px;
    margin: auto;
} */
.logo{
    display: flex;
    align-items: center;
    gap: 0px;
}

.logo h3{
    padding-left: 8px;
    
}
.logo h3:hover{
    color: #7C3AED;
}
.logo img{
    width: 40px
}
.logo img:hover{
   background-color: #7C3AED;
}
/* Left SIde End */

/* Middile Side and right side button */

.header{
    background-color: #f9f9f9;
    padding: 20px 80px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* max-width: 1280px; */
    align-items: center;
}

 .nav-links{
    display: flex;
    gap: 24px;
    list-style: none;
 }
 .nav-links a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
 }
 .nav-links a:hover{
    color: #7C3AED;
 }
 .common-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 41px;
    border-radius: 12px; 
 }
 .common-btn:hover{
    background-color: #7C3AED;
 }