* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .width-height{
    max-width: 1280px;
    margin: auto;
} */
/* .logo {
  width: 134px;
  height: 44px;
} */
/* .logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
.logo h3 {
  padding-left: 8px;
}
.logo h3:hover {
  color: #7c3aed;
}
.logo img {
  width: 134px;
  height: 44px;
}
/* .logo img:hover{
   color: #7C3AED;
} */
/* Left SIde End */

/* Middile Side and right side button */

.header {
  background-color: #f9f9f9;
  padding: 20px 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* max-width: 1280px; */
  align-items: center;
  padding: 23px 115px;
  background-color: #fafafa;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
}
.nav-links a:hover {
  color: #7c3aed;
}
.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 41px;
  border-radius: 12px;
  cursor: pointer;
}
.common-btn:hover {
  background-color: #7c3aed;
}
/* navbar section end */

/* header se;ction start */

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-content h1 {
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
}
.header-content p {
  color: #f5f4f4;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 16px;
}
.header-content button {
  width: 12%;
  height: 7%;
  font-size: 18px;
  margin-top: 278px;
}
/* Header Banner Section End */

/* Developer Section Start */
.developer-container h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 56px;
}
.developer-container h1:hover {
  color: #7c3aed;
}
.developers {
  width: 90%;
  margin: 60px auto;
}
.developers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.card {
  border: 1px solid#ddd;
  overflow: hidden;
  border-radius: 10px;
}
.card img {
  width: 100%;
  object-fit: cover;
  /* height: 324px; */
  display: block;
}
.card-content {
  padding: 24px;
}
.card-content small {
  color: #2563eb;
  font-size: 12px;
  font-weight: 600;
}
.card-content h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0d1b2a;
  margin-bottom: 8px;
  margin-top: 8px;
}
.card-content p {
  font-size: 14px;
  font-weight: normal;
}
/* Developers Section End */

/* pricing section start */
.pricing {
  width: 90%;
  margin-right: 80px auto;
  text-align: center;
}
.pricing h2 {
  font-size: 48px;
  font-weight: bold;
  color: #0d1b2a;
}
.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #575757;
  margin-bottom: 48px;
}
.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-left: 200px;
}

.p-card {
  border: 1px solid#ddd;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
}

.pro-card {
  background-color: #0d1b2a;
  border-radius: 10px;
  color: white;
  text-align: left;
  padding: 30px;
  text-align: left;
}
.pro-card h1 {
  font-size: 44px;
  font-weight: bold;
  margin: 10px 0;
}
.pro-card ul {
  margin: 30px 0;
  padding-left: 20px;
}
.pro-card li {
  margin-bottom: 20px;
  list-style: color #2563eb;
}
.p-card h1 {
  font-size: 44px;
  font-weight: bold;
  margin: 10px 0;
}
.p-card ul {
  margin: 30px 0;
  padding-left: 20px;
}
.p-card li {
  margin-bottom: 20px;
}
li::marker {
  color: #2563eb;
}
.standard-btn {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid#2563EB;
  color: #2563eb;
  background-color: white;
  cursor: pointer;
}
.pro-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Newsletter Section Start */

.newsletter-container {
  background-color: #f4f0ff;
  padding: 80px 20px;
  margin-top: 50px;
}

.newsletter-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.newsletter-content h2 {
  font-size: 40px;
  color: #0d0d0d;
  margin-bottom: 20px;
}
.newsletter-content p {
  font-size: 18px;
  font-weight: normal;
  color: #666;
  margin-bottom: 40px;
  line-height: 1.7;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.newsletter-form input {
  width: 320px;
  padding: 15px;
  border: 1px solid#ddd;
  border-radius: 8px;
  font-size: 16px;
}

.newsletter-form button {
  padding: 15px 30px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  /* transition: .3s; */
}

.newsletter-form button:hover {
  background-color: #7c3aed;
}

/* Newsletter Section End */

/* Footer Seection Start */

.footer {
  margin-top: 128px;
  background-color: #0d1b2a;
  padding: 56px 0;
}
.footer-container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  font-size: 13px;
  font-weight: lighter;
  color: #cfc7c7;
}
.footer :hover {
  color: white;
}
.footer-links {
  display: flex;
  gap: 24px;
}
.footer-links a {
  text-decoration: none;
  color: #cfc7c7;
  font-size: 13px;
  font-weight: lighter;
}
.footer-links :hover {
  color: white;
}

/* Footer Section End */
